.search-by {
    margin-top: var(--m-padding);
    margin-bottom: var(--l-padding);
}

.search-by span {
    margin-inline: var(--m-padding);
    background-color: var(--lighter-grey);
    padding: var(--m-padding);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.active-span {
    background-color: var(--secondary) !important;
    color: var(--bg);
}

.all-sales-statistics {
    background-color: rgba(128, 128, 128, 0.8);
    color: black;
}

.all-sales-statistics th {
    cursor: default !important;
}

.all-sales-statistics .order-total-before-discount {
    color: black;
}

.back-green-profit {
    background-color: var(--profit-green);
    color: white;
}

.orders-table {
    width: 100%;
}

.order-tr a {
    width: 100%;
    display: block;
}

.orders-table tr th:not(.none-th) {
    padding: var(--m-padding);
    font-weight: 500;
    /* transition: all 0.2s; */
    cursor: pointer;
}

.orders-table .thead tr th {
    cursor: default;
}

.order-total {
    font-weight: 900 !important;
}

.order-total-before-discount {
    color: var(--grey);
    text-decoration: line-through;
}

.order-id {
    width: 100px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.not-found-search-value {
    color: var(--primary);
}

.single-order-in-list {
    position: relative;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
}

.fa-instagram,
.fa-store {
    font-size: 18px;
}

.order-discount {
    all: unset;
    position: absolute;
    right: 0;
    background-color: var(--danger);
    color: white;
    font-size: 14px;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orders-per-day {
    padding-block: 50px;
}

.orders-of-the-day {
    background-color: rgb(161, 161, 161, 0.4) !important;
}

.orders-of-the-day th {
    cursor: default !important;
}

.order-date {
    color: var(--grey);
}

@media (hover:hover) {
    .orders-table tr:not(.none-tr):hover {
        background-color: black;
    }

    .orders-table tr:hover th {
        color: white;
    }

    .orders-table .thead tr:hover {
        background-color: inherit;
    }

    .orders-table .thead tr:hover th {
        color: var(--grey);
    }

    tr.orders-of-the-day:hover th {
        color: var(--profit-green) !important;
    }

    tr.orders-of-the-day:hover th.back-green-profit {
        color: white !important;
    }
}