.single-customer-wrapper {
    background-color: var(--very-light-grey);
    color: var(--primary);
    padding: var(--padding);
    margin-bottom: var(--m-padding);
}

.customers-table {
    width: 100%;
    min-width: 700px;
}

.customers-table tr th:not(.none-th) {
    padding: var(--m-padding);
    font-weight: 500;
    cursor: pointer;
}

.customers-table .thead tr th {
    cursor: default;
}

@media (hover:hover) {
    .customers-table tr:not(.none-tr):hover {
        background-color: black;
    }

    .customers-table tr:hover th {
        color: white;
    }

    .customers-table .thead tr:hover {
        background-color: inherit;
    }

    .customers-table .thead tr:hover th {
        color: var(--grey);
    }

    tr.orders-of-the-day:hover th {
        color: var(--profit-green) !important;
    }

    tr.orders-of-the-day:hover th.back-green-profit {
        color: white !important;
    }
}