/* BARCODE INPUT FORM */
#scanner-input {
    all: unset;
    width: calc(100% - var(--l-padding));
    padding: var(--m-padding);
    border-radius: 5px;
    outline: 1px solid var(--light-grey);
    transition: all 0.2s;
    margin-bottom: var(--l-padding);
}

.scan-title {
    text-align: center;
    color: var(--grey);
    text-transform: uppercase;
}

.not-found-product {
    color: var(--danger);
}


.price-mode-product {
    text-align: center;
}

.price-mode-product .img-name-wrapper {
    gap: 50px;
}

.price-mode-product img {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
}

.price-mode-product .product-info {
    font-size: 40px;
}

.price-mode-product .product-name {
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    user-select: none;
}

.price-mode-product .product-name span {
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--grey);
}

.price-mode-product .product-price {
    font-weight: 700;
    font-size: 48px;
    padding: var(--m-padding);
    color: var(--danger);
}

.not-found-product {
    color: var(--danger) !important;
}

.with-discount {
    position: relative;
    color: var(--light-grey) !important;
    width: max-content;
    margin: auto;
}

.with-discount::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: black;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .img-name-wrapper {
        flex-direction: column;
    }

    .price-mode-product .product-info {
        font-size: 24px;
    }

    .price-mode-product .product-name {
        letter-spacing: 2px;
        flex-direction: column;
    }
}

/* BARCODE INPUT FORM */


.cart {
    position: relative;
    margin: auto;
    transition: all 0.2s;
}

.thead:not(.none-thead)::after {
    content: '';
    display: block;
    height: 15px;
}

.thead tr th {
    font-weight: 500;
    color: var(--grey);
}

tbody tr:nth-child(odd):not(.none-tr) {
    background-color: var(--very-light-grey);
}

.th-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--l-padding);
}

.th-quantity span {
    padding-inline: var(--padding);
    font-size: 18px;
    user-select: none;
}

.th-quantity i {
    cursor: pointer;
    padding: var(--padding);
    aspect-ratio: 1;
    width: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: all 0.2s;
}

.scan-title-sales {
    text-align: center;
    color: var(--grey);
    text-transform: uppercase;
    margin: var(--l-padding);
}

.input-disabled {
    background-color: rgba(51, 51, 51, 0.1) !important;
}



.fa-trash-can {
    color: var(--danger);
    transition: all 0.2s;
    cursor: pointer;
    display: inline-flex;
    padding: var(--padding);
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 50%;
    width: 35px;
}

.product-in-cart-img {
    height: 60px;
    aspect-ratio: 1;
    object-fit: cover;
}

.exchange-icon-wrapper {
    width: 50px;
}

.p-i-c-photo {
    width: 60px;
    aspect-ratio: 1;
}

.p-i-c-name {
    padding-left: var(--padding);
    width: 310px;
}

.product-original-price {
    text-decoration: line-through;
}

@media (hover:hover) {

    .fa-trash-can:hover {
        color: var(--bg);
        background-color: var(--dark-danger);
    }

    .quantity-handler.decrement:hover {
        color: var(--danger);
    }

    .quantity-handler.increment:hover {
        color: var(--blue);
    }

    .th-quantity i:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .cart {
        padding: var(--m-padding);
    }

    .product-in-cart {
        font-size: 14px;
    }

    .scan-title-sales {
        font-size: 18px;
    }

    .product-in-cart-img {
        height: 50px;
    }
}

@media screen and (max-width: 650px) {
    .p-i-c-name {
        width: 30px;
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}